---
import styles from "./styles.module.scss";
---

<div class={styles.wrapper} aria-hidden="true">
  <pre
    class={styles.ascii}>
    {"  "}                       <span class={styles.firefly}>*</span>                 <span class={styles.firefly}>*</span>                                    <span class={styles.smoke}>    </span>                              <span class={styles.firefly}>*</span>                                            
    {"  "}^     ^                          ^                           ^                <span class={styles.smoke}>## #</span>                      <span class={styles.firefly}>*</span>               ^                              ^     
    {" "}/|\ ^ /|\       ^    ^      <span class={styles.firefly}>*</span>    /|\           ^    ^        /|\ ^            <span class={styles.smoke}># #</span>     <span class={styles.tent}>____</span>   <span class={styles.firefly}>*</span>      ^                   /|\   ^  <span class={styles.firefly}>*</span>      ^    ^       ^ /|\   
    {" "}/|\/|\/|\    ^ /|\  /|\ ^      <span class={styles.firefly}>*</span> /|\  ^  <span class={styles.firefly}>*</span>  ^ /|\  /|\ ^     /|\/|\    ^     <span class={styles.smoke}>##</span>      <span class={styles.tent}>^    \</span>    <span class={styles.firefly}>*</span>   /|\ ^    ^   ^   <span class={styles.firefly}>*</span>   /|\  /|\     ^ /|\  /|\   ^ /|\/|\ 
    {" "}/|\/|\/|\   /|\/|\  /|\/|\       /|\ /|\   /|\/|\  /|\/|\    /|\/|\   /|\   <span class={styles.fire}>***</span>     <span class={styles.tent}>/|\    \</span>       /|\/|\  /|\ /|\ <span class={styles.firefly}>*</span>    /|\  /|\    /|\/|\  /|\  /|\/|\/|\
    {"  "}|  |  |    .| #|.. .|&/|\  <span class={styles.firefly}>*</span>     | #&|.   .| #|.. .|&/|\     | #|.   /|\  =*=*=   <span class={styles.tent}>/#|#\    \</span>      .| #|.. .|& /|\       |#& /|\    .| #|.. .|&  /|\ |  |   
    -----    ----- -----      -----   -----     -----     ----------   -----    --------------------   -----  ---------- -----    ----------   ----- -----   ---
    </pre>
</div>
