---
import Layout from "@/layouts/Layout.astro";
import styles from "@/styles/journals.module.scss";
import { format } from "date-fns";

// Import all markdown files from the journals directory
const journals = await Astro.glob("../journals/**/*.{md,mdx}");

// Sort posts by date or any other frontmatter property
journals.sort(
  (a, b) =>
    new Date(b.frontmatter.published).getTime() -
    new Date(a.frontmatter.published).getTime()
);
---

<Layout title="Journals">
  <article class={styles.prose}>
    <h1 class={styles.title}>Journals</h1>
    <p>
      I like to write about things I learn, things I'm working on, and things I
      think about in regards to software development, design, and life in
      general.
    </p>
    <div class={styles.journals}>
      {
        journals.map((journal) => (
          <article class={styles.journal}>
            <a href={journal.url} class={styles.link}>
              <h2 class={styles.title}>{journal.frontmatter.title}</h2>
            </a>
            <time
              class={styles.published}
              datetime={new Date(
                journal.frontmatter.published
              ).toLocaleDateString()}
            >
              Written{" "}
              {format(new Date(journal.frontmatter.published), "MMM do, yyyy")}
            </time>
          </article>
        ))
      }
    </div>
  </article>
</Layout>
